$color-1: #790202; // Yellow
$color-2: #292114;// Black Chocolate
$color-3: #E1793D; // Mandarin
$color-4: #FFBC42; // Barn Red
$color-5: #f9f5e6; // Old Lace

// additional colors

$success: #1B5025; // green
$alert: $color-3; // red